
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --header-height: 3rem;

    /*========== Colors ==========*/

    --hue-color: 253; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --primeira-cor: hsl(var(--hue-color), 12%, 17%);
    --primeira-cor-seg: hsl(var(--hue-color), 12%, 17%);
    --primeira-cor-alt: hsl(var(--hue-color), 57%, 53%);
    --primeira-cor-lighter: hsl(var(--hue-color), 92%, 85%);
    --titulo-cor: hsl(var(--hue-color), 1%, 100%);
    --texto-cor: hsl(var(--hue-color), 1%, 100%);
    --texto-cor-light: hsl(var(--hue-color), 8%, 65%);
    --input-cor: hsl(var(--hue-color), 70%, 96%);
    --body-cor: hsl(var(--hue-color), 60%, 99%);
    --container-cor: #F8F5EF;
    --scroll-bar-cor: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-cor: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --title-font: "Barlow Semi Condensed", sans-serif;;
    ---title-heigth: 600;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 4.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 800;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.7rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/

body.dark-theme{
  /* HSL color mode */
  --primeira-cor-seg: hsl(var(--hue-color), 30%, 5%);
  --titulo-cor: hsl(var(--hue-color), 8%, 95%);
  --text-cor: hsl(var(--hue-color), 8%, 75%);
  --input-cor: hsl(var(--hue-color), 29%, 16%);
  --body-cor: hsl(var(--hue-color), 28%, 12%);
  --container-cor: hsl(var(--hue-color), 28%, 16%);
  --scroll-bar-cor: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-cor: hsl(var(--hue-color), 12%, 80%);
}

/*========== Button Dark/Light ==========*/
.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  margin-right:  var(--mb-1);
  font-size: 1.25rem;
  color:var(--title-color);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--primeira-cor);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-cor);
  color: var(--text-cor);
}

h1, h2, h3, h4 {
  color: var(--titulo-cor);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: transparent;
}

/*==================== CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
  min-height: 50vh;
}

.section-subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section-title, 
.section-subtitle {
  color: var(--text-cor);
  font-family: var(--title-font);
  font-weight: var(--title-font);
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 1200px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo, .nav-toggle {
  color: var(--titulo-cor);
  font-weight: var(--font-medium);
}

.nav-logo:hover {
  color: var(--primeira-cor);
}

.nav-toggle{
  font-size: 1.1rem ;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primeira-cor);
}


@media (width <= 767px) { /* max-width:  */
  .nav-menu {
    padding: 2rem 1.5rem 4rem;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -100%;
    background-color: var(--body-cor);
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition:  .3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap:2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--body-color);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--primeira-cor);
}

.nav-icone{
  font-size: 1.2rem;
}

.nav-close{
  position: absolute;
  right:  1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primeira-cor);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--primeira-cor);
}

/* Change background header */
.scroll-header {
  box-shadow:  0 -1px 4px  rgba(0, 0, 0, .6);
  background: var(--container-cor);
  opacity: .8;
}

/*==================== HOME ====================*/
.home-container {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  background: url('../img/hero img.jpg') no-repeat center center/cover;
  position: relative; /* Para garantir que o pseudo-elemento seja posicionado corretamente */
  z-index: 1;
  opacity: 0.85;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com opacidade de 0.5 */
  z-index: -1; /* Colocar a camada preta abaixo do conteúdo da home-container */
}

.home-content {
  padding-top: 8.5rem;
  grid-template-columns: .5rem 3fr;
  align-items: self-end;
  gap: 2.5rem;
  z-index: 2;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-data {
  grid-column: 1/3;
}

.home-title {
  font-family: var(--title-font);
  font-weight: var(---title-heigth);
  font-size: var(--big-font-size);
  width: 30ch;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
  color: var(--titulo-cor);
}

.home-subtitle {
  margin-bottom: var(--mb-0-75);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  text-align: center;
}

.home-content-button {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.home-button {
  width: 271px;
  height: 62px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  background-color: #DEC7A6 ;
}

.home-button-service {
  width: 271px;
  height: 62px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--texto-cor);
  background-color: transparent ;
  border: 3px solid #fff;
}

.home-scroll {
  /*display: none;*/
  width: a;
}

.home-scroll-button {
  color: var(--primeira-cor);
  transition: .3s;
}

.home-scroll-button:hover {
  transform: translateY(.25rem);
}

.home-scroll-mouse {
  font-size: 2rem;
}

.home-scroll-name {
  margin-right: var(--mb-0-25);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home-scroll-arrow {
  font-size: 1.35rem;
}

/*==================== BANNER ====================*/

.banner-container {
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 5;
}

.banner-content { 
  background-color: var(--body-cor);
  width: 1000px;
  height: 233px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 253px 253px 253px;
  color: var(--texto-cor);
  box-shadow: rgba(0, 0, 0, 0.0) 0px 1px 1px, rgba(0, 0, 0, 0.2) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.0) 0px 8px 8px, rgba(0, 0, 0, 0.0) 0px 16px 16px;
}

.banner-content-item {
 text-align: center;
}

.banner-content-items {
  display: flex;
  width: 800px;
  flex-wrap: nowrap;
}

.banner-content-item {
  width: 500px;
}

.home-icone {
  font-size: var(--big-font-size);
  color: var(--primeira-cor);
}

.banner-title,
.banner-descricao {
  color: #000;
}

.banner-title {
  text-transform: uppercase;
}

.banner-title::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 3px;
  background: #DEC7A6;
}

/*==================== BUTTONS ====================*/
.button {
  padding: 1rem;
  display: inline-block;
  background-color: var(--primeira-cor);
  font-weight: var(--font-medium);
  color: #fff;
  border-radius: .5rem;
}

.button:hover {
  background-color: var(--primeira-cor-alt);
}

.button-icone {
  margin-left: var(--mb-0-5);
  font-size: 1.25rem;
  transition: .3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: .75rem 1rem;
}

.button-white {
  background-color: #fff; 
  color: var(--primeira-cor);
}

.button-white:hover {
  background-color: var(--primeira-cor-lighter); 
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--primeira-cor);
}

.button--link:hover { 
  background-color: transparent;
  color: var(--primeira-cor-alt);
}

/*==================== SERVICE ====================*/
.service-custom {
  margin: 0 auto;
  padding: 1rem;
  padding-top: 10rem;
  padding-bottom: 40px;
  grid-template-columns: 1fr 1fr;
  width: 1200px; 
  min-height: 600px;
} 

.service-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  text-align: left;
  text-transform: uppercase;
  width:650px;
  word-wrap: break-word;
}

.service-subtitle {
  margin-top: var(--mb-1);
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  width: 99%;
}

.service-title::after {
  content: '.';
  width: 5px;
  height: 5px;
  color: #DEC7A6;
  border-radius: 50%;
}

.service-description {
  color: var(--text-cor);
  width: 75%;
}

.service-content-items {
  margin-top: var(--mb-0-5);
  display: flex;
  gap: 2rem;
}

.service-item span {
  font-size: 1.7rem;
  font-weight: var(--font-bold);
}

.service-item-description {
  font-size: 1rem;
  width: 40%;
}

.service-icone {
  font-weight: 900;
  color: #DEC7A6;
}

/*==================== FOOTER ====================*/

.footer {
  padding-top: 2rem;
}

.foooter-container {
  row-gap: 3.5rem;
}

.footer-bg {
  padding: 2rem 0 3rem;
  background-color: var(--primeira-cor-seg);
}

.footer-title {
  font-family: var(--title-font);
  font-weight: var(---title-heigth);
  margin-bottom: var(--mb-0-25);
  font-size: var(--h1-font-size);
}

.footer-subtitle {
  font-size: var(--small-font-size);
  color: #fff;
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-title,
.footer-subtitle, 
.footer-link,
.footer-social {
  color: #fff
}

.footer-link:hover,
.footer-social:hover {
  color: var(--primeira-cor-lighter);
}

.footer-social{
  margin-top: var(--mb-3);
  align-self: center;
  margin-right: var(--mb-1-5);
  font-size: 1.25rem;
}

.footer-copy {
  color:  var(--primeira-cor-lighter);
  font-size: var(--smaller-font-size);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  inset: auto 1rem -20%  auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 30px;
  box-shadow:  1px 0 1px  rgba(0, 0, 0, .16);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  opacity: 1;
  background: var(--primeira-cor);
  transition: .4s;
}

.scrollup:hover {
  background: var(--primeira-cor-lighter);
}
.scrollup-icone{
  align-self: center;
  font-size: 1.7rem;
  color: #fff;
}

/* Show scroll */
.show-scroll {
  bottom:  5rem;
  right: 1.5rem;
}

/* Anima Scroll */

.js [data-anima="scroll"]  {
  opacity: 0;
  transform:  translate3d(-30px, 0, 0);
  transition: .5s ease-out;
}

.js [data-anima="scroll"].active {
  opacity: 1;
  transform:  translate3d(0, 0, 0);
  transition: .5s;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-cor);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-cor);
  border-radius:.5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--texto-cor-light) ;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 390px) {
  .contianer {
    margin: auto var(--mb1)auto var(--mb1);
  }
  .nav-menu {
    background-color: var(--primeira-cor);
    padding: 2rem .25rem 4rem; 
  }
  .nav-list {
    column-gap: 0;
  }
  .home-content{
    grid-template-columns: .25rem 3fr;
    justify-content: center;
    align-items: center;
  }
  .home-blob {
    width: 100%;
  }

  .skills-title {
    font-size: var(--nomel-font-size);
  }
  .qualification-data {
    gap: .5rem; 
  }
  .services-container{
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services-modal {
    padding: 0 .5rem;
  }
  .project-img {
    width: 200px;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home-data {
    grid-column: initial;
  }
  .home-img {
    order: 1;
    justify-content: center;
  } 
  .sobre-container,
  .portfolio-content,
  .project-container,
  .contact-container,
  .foooter-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sobre-description {
    width: 45ch;
  }
  .skills-container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .qualification-sections {
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
  .project-container {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contianer {
    margin-right: auto;
    margin-left: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section-subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  /* .header,
  .main,
  .footer-container {
    padding: 0 1rem;
  } */
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav-icone,
  .nav-close,
  .nav-toggle {
    display: none;
  }
  .nav-list {
    display: flex;
    column-gap:  2rem;
  }
  .nav-menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home-container {
    padding-top: 20.5rem;
    column-gap:  2rem;
  }
  .home-scroll {
    display: block;
  }
  .home-scroll-button {
    margin-left: 3rem ;
  }
  .banner-container {
    column-gap: 1rem;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-bg {
    padding: 3rem 0 3.5rem;
  }
  .footer-links {
    margin-top: 1rem;
    flex-direction: row;
    column-gap:  2rem;
  }
  
  .footer-copy {
    margin-left: 2rem;
  }
 
}

/* For large devices */
@media screen and (max-width: 1024px) {
  .header,
  .main,
  .footer {
    padding: 0;
  }
  .container  {
    margin:  0 auto;
  }
  .home-container {
    height: auto;
    column-gap: 5rem;
  }
  .home-title {
    font-size: var(--h1-font-size);
  }
  .home-subtitle {
    font-size: var(--h3-font-size);
    width: 90%;
  }
  .container-img-sobre {
    width: 450px;
  }
  .service-custom {
    padding-top:0 ;
    padding: 31px; 
    max-width: 100%;
  }
  .foooter-container {
    padding: 1rem;
  }
}

@media  screen and (max-width: 1500px) {
  .home-content-button {
    flex-direction: column;
    align-items: center;
  }
  .banner-content {
    width: 500px;
    height: 600px;
    grid-template-columns: 1fr;
    word-break: normal;
  }
  .banner-content-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .banner-content-item {
    margin: 0 auto;
    width: 200px;
  }
  .service-custom {
    padding: 1rem;
    padding-top: 350px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 600px;
  }
  .service-subtitle {
    width: 70%;
  }
  .service-img {
    width: 90%;
  }
  .footer {
    padding-top: 50rem;
  }
  .service-custom {
    min-height: 800px; /* Aumenta a altura mínima da seção customizada */
  }
}

@media screen and (max-width: 868px) {
  .home-title {
    width: 95%;
  }
} 


/* Responsividade abaxio 768 */
@media screen and (max-width: 768px) {
  .home-content {
    grid-template-columns: max-content 1fr;
  }
  .home-data {
    grid-column: 1 / 3;
  }
  .home-title {
    margin: 0 auto;
    font-size: var(--h1-font-size);
    width: 90%;
  }
  .home-subtitle {
    margin: 0 auto;
    width: 90%;
  }
  .banner-container {
    width: 100%;
  }
  .banner-content {
    margin: 0 auto;
  }
  .banner-content-items {
    display: flex;
    width: 500px;
    flex-wrap: nowrap;
  }
  .service-custom {
    padding-top: 3px;
    max-width: 80%;
  }
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .home-content {
    padding-top: 4.5rem;
    gap: 1.5rem;
  }
  .home-container {
    height: auto;
    padding: 2rem 0;
  }
  .home-title {
    font-size: var(--h1-font-size);
    width: 20ch;
  }

  .home-subtitle {
    margin-bottom: var(--mb-0-75);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    text-align: center;
  }
  
  .home-button, .home-button-service {
    width: 200px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
  }
  
  .banner-container {
    width: 100%;
  }
  .banner-content {
    width: 80%;
  }
  .banner-content-items {
    width: auto;
    height: 50%;
  }
  .banner-content-item {
    padding: auto 1rem auto 1rem;
    margin: 0;
  }
  .service-title {
    width: 350px;
  }
}
